#wrapper {
    width: 50%;
    border: 1px solid black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;


}

#photoDiv {
	width: 1000px;
	height: auto;

    float: left;
}


#img{
   overflow: hidden;
}

.buttons {
	text-align: center;
	background: black;
}


